.Button {
    height: 71px;
    width: 406px;
    background-image: none;
    transform-origin: left top;
    rotate: -11deg;
    scale: 1 1;
    background-color: rgb(33, 168, 188);
    -unity-font-style: bold;
    -unity-font: url('project://database/Assets/Fonts/Inter%20Desktop/Inter-BlackItalic.otf?fileID=12800000&guid=6ca20d15c718b4afc97376b46c930399&type=3#Inter-BlackItalic');
    font-size: 50px;
    -unity-font-definition: none;
    -unity-text-outline-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
    transition-duration: 0.2s;
}

.Button:hover {
    height: 71px;
    width: 406px;
    background-image: none;
    transform-origin: left top;
    rotate: -11deg;
    scale: 1 1;
    background-color: rgb(33, 168, 188);
    -unity-font-style: bold;
    -unity-font: url('project://database/Assets/Fonts/Inter%20Desktop/Inter-BlackItalic.otf?fileID=12800000&guid=6ca20d15c718b4afc97376b46c930399&type=3#Inter-BlackItalic');
    font-size: 50px;
    -unity-font-definition: none;
    -unity-text-outline-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
    translate: 5px -10px;
    transition-duration: 0.2s;
}

.Buttom-Bottom-Shadow {
    background-color: rgb(0, 0, 0);
    background-image: none;
    width: 111.1%;
    height: 50%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    opacity: 1;
    transform-origin: left top;
    rotate: 29deg;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    translate: -2px -1px;
    justify-content: flex-start;
    transition-duration: 0.2s;
}

.Buttom-Bottom-Shadow:hover {
    background-color: rgb(0, 0, 0);
    background-image: none;
    width: 111.1%;
    height: 75%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    opacity: 1;
    transform-origin: left top;
    rotate: 29deg;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    translate: -2px -1px;
    justify-content: flex-start;
    transition-duration: 0.2s;
}

.Buttom-Side-Shadow {
    background-color: rgb(0, 0, 0);
    background-image: none;
    height: 10%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    opacity: 1;
    transform-origin: right top;
    rotate: 30deg;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    translate: -416.5px 26.4px;
    justify-content: space-between;
    align-items: flex-end;
    width: 32.2px;
    scale: 1 1;
    transition-duration: 0.2s;
}

.Buttom-Side-Shadow:hover {
    background-color: rgb(0, 0, 0);
    background-image: none;
    height: 15%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
    visibility: visible;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    opacity: 1;
    transform-origin: right top;
    rotate: 30deg;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    translate: -416.5px 26.4px;
    justify-content: space-between;
    align-items: flex-end;
    width: 32.2px;
    scale: 1 1;
    transition-duration: 0.2s;
}

.ba-button {
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 210px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    overflow: visible;
    visibility: hidden;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    opacity: 1;
    rotate: 0;
    transition-duration: 0.2s;
    justify-content: space-around;
    align-items: flex-start;
}

.ba-button:hover {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 28px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 210px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    overflow: visible;
    visibility: hidden;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    opacity: 1;
    rotate: 0;
    transition-duration: 0.2s;
    justify-content: space-around;
    align-items: flex-start;
}
